<section class="about">
  <div class="about-inner">
    <div class="about-images">
      <div class="about-images-inner">
        <div class="about-image-wrapper">
          {{ images['about-vertical.jpg'] | image_url: width: null, height: null | image_tag }}
        </div>

        <div class="about-image-wrapper">
          {{ images['about-horizontal-1.jpg'] | image_url: width: null, height: null | image_tag }}
        </div>

        <div class="about-image-wrapper">
          {{ images['about-horizontal-2.jpg'] | image_url: width: null, height: null | image_tag }}
        </div>
      </div>
    </div>

    <div class="about-text">
      <div class="about-text-inner">
        <h2 class="about-heading">How We Aren't Different</h2>
        <p class="about-desc">
          Quisque commodo fringilla porta. Maecenas facilisis lobortis urna, vitae euismod justo feugiat nec. Donec et
          congue felis, in vehicula urna. Praesent eget vehicula diam. Quisque commodo fringilla porta. Maecenas
          facilisis lobortis urna, vitae euismod justo feugiat nec. Donec et congue felis, in vehicula urna. Praesent
          eget vehicula diam.
        </p>
        <ul class="about-perks">
          <li>
            {{ images['necklace-svg.svg'] | image_url: width: null, height: null | image_tag }}
            <span class="perk-text">
              <h4>kldjgerjgnr klenrgkrg rkeahjgkre</h4>
              Quisque commodo fringilla porta. Maecenas facilisis lobortis urna, vitae euismod justo feugiat nec. Donec
              et congue felis, in vehicula urna. Praesent eget vehicula diam.
            </span>
          </li>
          <li>
            {{ images['earrings-svg.svg'] | image_url: width: null, height: null | image_tag }}
            <span class="perk-text">
              <h4>kldjgerjgnr klenrgkrg rkeahjgkre</h4>
              Quisque commodo fringilla porta. Maecenas facilisis lobortis urna, vitae euismod justo feugiat nec. Donec
              et congue felis, in vehicula urna. Praesent eget vehicula diam.
            </span>
          </li>
          <li>
            {{ images['ring-svg.svg'] | image_url: width: null, height: null | image_tag }}
            <span class="perk-text">
              <h4>kldjgerjgnr klenrgkrg rkeahjgkre</h4>
              Quisque commodo fringilla porta. Maecenas facilisis lobortis urna, vitae euismod justo feugiat nec. Donec
              et congue felis, in vehicula urna. Praesent eget vehicula diam.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
